@charset "utf-8";
body {
	background-image: url(../image/nuke.png);
	border-width: medium;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	font-size: xx-large;
	color: #F9F8F8;
	text-align: center;
	font-family: "楷体";
}
tr td img {
}
tr td table {
	text-align: center;
	font-family: "楷体";
	font-size: 18px;
}
table tbody tr {

}
td p a {
	color: #FFFFFF;
}
td a p {
	color: #FFFFFF;
}
